@font-face {
  font-family: 'Mentor Sans Std';
  src: url('https://cdn.jsdelivr.net/gh/Philly07-him/random-stuff@main/MentorSansStd.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/Philly07-him/random-stuff@main/MentorSansStd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
